@media screen and (max-width: 320px) {
    /* center hamburger on smallest screens */
    .hamburger {
        display: block;
        z-index: 10000;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        top: 8rem;
    }
    .header-logo {
        position: absolute;
        left: 50%;
        margin-left: -88px;
        top: 2.5rem;
    }
}

@media screen and (max-width: 375px) {
    header {
        background: url(../images/bg-curvy-mobile.svg), 
    hsl(217, 28%, 15%);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: bottom;
    }
}

@media screen and (max-width: 482px) {
    .email-cta {
        flex-direction: column;
        max-width: 100%;
    }
}

@media screen and (min-width: 483px) and (max-width: 1046px) {
    .email-cta {
        flex-direction: column;
        max-width: 50%;
    }
    .email {
        margin-bottom: 1rem;
    }
}
@media screen and (min-width: 320px) and (max-width: 867px) {
    .hamburger {
        display: block;
        z-index: 10000;
        position: absolute;
        right: 2rem;
        top: 2.8rem;
    }
    .header-logo {
        position: absolute;
        left: 2rem;
        top: 2.5rem;
    }
}
/* --------------------- */
/* SWITCH TO MOBILE VIEW */
/* --------------------- */
@media screen and (max-width: 867px) {
    .header-container {
        padding-bottom: 7rem;
    }
    .hero-container {
        height: 700px;
    }
    .nav-ul {
        display: none;
    }
    .mobile-nav {
        display: block;
        position: fixed;
        top: 0;
        opacity: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        z-index: 99;
        background-color: hsl(216, 53%, 9%);
        padding-top: 9rem;
        transition: .4s ease-in-out;
    }
    .mobile-nav.is-active {
        left: 0;
        opacity: 1;
    }
    .mobile-nav > li {
        position: relative;
        display: block;
        text-align: center;
        margin: 5rem 3rem;
        font-size: 1.5rem;
        font-family: 'Raleway', 'sans-serif';
        color: white;
    }
    /* mobile nav fade in animation START */
    .mobile-nav.is-active li { 
        opacity: 0; /* elements fade in from being invisible */
       }
       .mobile-nav.is-active li.open {
        animation-name: fadeIn;
        animation-fill-mode: forwards;
        animation-duration: .5s; /* time between start and end of animation */
        animation-delay: .1s; /* time before animation kicks in */
        animation-timing-function: ease-in-out;
       }
       .mobile-nav.is-active li.open:nth-child(2) {
        animation-delay: .2s;
       }
       .mobile-nav.is-active li.open:nth-child(3) {
        animation-delay: .4s;
       }
       @keyframes fadeIn {
        0% {
         transform: translateX(75px); /* placement when animation begins */
         opacity: 0;
        }
        100% {
         transform: translateX(0); /* placement when animation ends */
         opacity: 1;
        }
       }
       /* mobile nav fade in animation END*/

    .mobile-nav.is-active li a:hover::before, 
    .mobile-nav.is-active li a:focus::before, 
    .mobile-nav.is-active li a:active::before {
        content: '';
        position: absolute;
        background-color: white;
        width: 2px;
        height: 110%;
        left: 150px;
    }
    .mobile-nav > li a:hover, 
    .mobile-nav > li a:focus, 
    .mobile-nav > li a:active {
        color: hsl(198, 60%, 50%);
    }
    .header {
        padding: 6rem 0;
    }
    .hero-title {
        max-width: 90%;
        padding-bottom: 0%;
    }
    .hero-paragraph {
        max-width: 85%;
    }
    .info-grid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .grid-item {
        margin: 2rem 0;
    }
    .info-grid-p {
        max-width: 100%;
    }
    .section1 {
        padding-bottom: 6rem;
    }
    .section2-container {
        flex-direction: column;
    }
    .stay-productive-right {
        margin: 0 auto;
        align-items: center;
        max-width: 75%;
    }
    .stay-productive-title {
        text-align: center;
        max-width: 100%;
    }
    .stay-productive-p {
        text-align: center;
    }
    .card-section-container {
        flex-direction: column;
    }
    .card {
        width: 75%;
        margin-bottom: 2rem;
    }
    .early-access-card {
        top: 20px;
        width: 90%;
    }
    .early-access-title {
        max-width: 100%;
    }
    .email {
        margin-bottom: 1rem;
    }
    .cta-button-bottom {
        padding: 1rem 2rem;
    }
    .footer-container {
        padding-top: 10rem;
    }
    .footer-logo {
        text-align: center;
    }
    .footer-row {
        flex-direction: column;
    }
    .location {
        max-width: 60%;
        margin-bottom: 1rem;
        text-align: center;
    }
    .footer-text {
        padding-left: 0%;
    }
    .contact-mobile {
        padding-left: 1rem;
    }
    .location-mobile {
        padding-left: .8rem;
    }
    .contact-info {
        text-align: center;
        margin-left: 0%;
        align-items: center;
    }
    .footer-row-column {
        margin-right: 0%;
        margin-bottom: 2rem;
        text-align: center;
    }
    .social-icons {
        margin-top: 1rem;
    }
}
/* --------------------- */
/* SWITCH TO MOBILE VIEW */
/* --------------------- */

@media screen and (min-width: 876px) and (max-width: 1044px) {
    .cta-button-bottom {
        padding: 1rem 3rem
    }
}

@media screen and (max-width: 936px) {
    h1 {
        padding-bottom: 1rem;
    }

    .hero-paragraph {
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 1046px) {
    form {
        margin-right: 0rem;
    }
}
